{% extends 'base.html' %}

{% block content %}
<div class='container-lg'>
  <div class="px-4 py-5 my-5 text-center">
    <img class="d-block mx-auto mb-4" src="/static/logo.png" alt="" width="72" height="57">
    <h1 class="display-5 fw-bold text-body-emphasis">NexaFunds Careers</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">
      At NexaFunds, our mission is to provide innovative, customer-centric financial solutions that empower people and businesses to achieve their financial goals. Through leading-edge technology and unparalleled service, we strive to redefine the boundaries of fintech, making financial management accessible, efficient, and transparent for all.
      </p>
      <p class="lead mb-4">You can help.</p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        <a href='#open-roles' type="button" class="btn btn-primary btn-lg px-4 gap-3">See Open Roles</a>
      </div>
    </div>
  </div>

  <div class='row'>
    <h2 class="text-center mt-4">About NexaFunds</h2>
      <p>
        NexaFunds is a trailblazing fintech company dedicated to providing
        personalized and dynamic financial solutions. Established in 2023, our
        global team of finance professionals and technology experts has
        revolutionized the way individuals and businesses interact with
        financial services. We believe in the power of innovation and
        technology to transform lives and economies, and we use this belief to
        drive our work forward.
      </p>

      <p>
        At the heart of NexaFunds is a commitment to our customers. We understand the
        challenges of financial management in the digital age and strive to simplify
        this process through advanced technology and intuitive design. We prioritize
        security, transparency, and accessibility in all our products, providing a
        seamless, user-friendly experience that brings finance into the 21st century.
      </p>

      <p>
        Beyond our cutting-edge technology, what sets NexaFunds apart is our dedication
        to social responsibility. We believe that finance should be inclusive and
        equitable, and we're devoted to breaking down barriers and creating
        opportunities. We invest in our communities and use our platform to promote
        financial literacy and inclusivity, driving change within and beyond the
        fintech industry.
      </p>
    <h2 class="text-center mt-4" id='open-roles'>Open Roles</h2>
    <div class='col-12 mt-4'>
    {% for job in jobs %}
      <div class="row border-bottom mb-4">
        <div class='col-9'>
          <h3>{{job['title']}}</h3>
          <p class="lh-sm">
            <b>Salary:</b> {{job['salary']}}
            <br/>
            <b>Location:</b> {{job['location']}}
            <br/>
            <b>Timezone:</b> between {{job['west-timezone']}} and {{job['east-timezone']}}
          </p>
        </div>
        <div class='col-3'>
          <a href={{ url_for('listing', slug=job['slug']) }} class='btn btn-primary float-end'>Apply now</a>
        </div>
      </div>
    {% endfor %}
    </div>

  </div>
</div>
{% endblock %}
