{% extends 'base.html' %}

{% block content %}
<div class='container-lg'>
  <div class='row mt-4'>
    <div class='col-12'>
      <h1>{{job.title}}</h1>
      <p>
        <b>Published:</b> {{job.created_at.strftime("%B %d, %Y")}}
        <b>Salary:</b> {{job.salary}}{{job.currency}}
        <b>Location:</b> {{job.location}}
      </p>
    </div>
  </div>
  <div class='row mt-4'>
    <div class='col-6'>
      <h2>About the team</h2>
      <p>{{job.team_description}}</p>
    </div>
  </div>
  <div class='row mt-4'>
    <div class='col-9'>
      <h2>About the role</h2>
      <p>{{job.role_description}}</p>
    </div>
  </div>
  <div class='row mt-4'>
    <div class='col-9'>
      <h2>Responsibilities</h2>
      <p>{{job.responsibilities}}</p>
    </div>
  </div>
  <div class='row mt-4'>
    <div class='col-9'>
      <h2>Benefits & compensation</h2>
      <p>{{job.benefits_compensation}}</p>
    </div>
  </div>
  <div class='row mt-4'>
    <div class='d-flex gap-2'>
      <a class='btn btn-primary mr-2' role="button" href='#'>Apply Now</a>
      <a class="ml-2 btn btn-outline-secondary" role="button" id="liveToastBtn" data-slug={{job.slug}}>
        Summarize this job
        <span class="spinner-border spinner-border-sm" role="status" id='loadingSpinner' hidden='false' aria-hidden="true"></span>
      </a>
    </div>
  </div>

  <div class="toast-container position-fixed bottom-0 end-0 p-3">
    <div id="liveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
      <div class="toast-header">
        <img src="/static/openai-logo.png" style='width: 2em' class="rounded me-2" alt="...">
        <strong class="me-auto">GPT</strong>
        <small>now</small>
        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
      </div>
      <div class="toast-body" id='toast-body'></div>
    </div>
  </div>
</div>
{% endblock %}
